{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" style="background-color:#eaebed"/>
	<br>
	<h5>Add New Government Service Object</h5>
	<form method="POST"/>
		<div class="form-group">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-primary">Add Service</button>
			<br><br>
		</div>
	</form>

	<!-- For when TCP or UDP individually or when submitted Form is invalid -->
	{% if success %}
		<p style="color:blue">{{ success }}</p>
	{% endif %}
	{% if error %}
		<p style="color:red">{{ error }}</p>
	{% endif %}

	<!-- For when both TCP/UDP -->
	{% if tcp_success %}
		<p style="color:blue">{{ tcp_success }}</p>
	{% endif %}
	{% if udp_success %}
		<p style="color:blue">{{ udp_success }}</p>
	{% endif %}
	{% if udp_error %}
		<p style="color:red">{{ udp_error }}</p>
	{% endif %}
	{% if tcp_error %}
		<p style="color:red">{{ tcp_error }}</p>
	{% endif %}

</div>
{% endblock %}